<div class="container">
  <!-- Barra de Navegação -->
  <nav class="nav-bar">
    <ul>
      <li>Home</li>
      <li>Música</li>
      <li>Jogos</li>
    </ul>
  </nav>

  <!-- Conteúdo Principal -->
  <div class="video-grid">
    <div class="video-card">
      <h3>Aprenda a usar o figma</h3>
      <a href="https://www.youtube.com/watch?v=oE_08KTRA9w" target="_blank">
        <img src="https://i.imgur.com/qJ6L7w0.png" width="300" />
      </a>
    </div>

    <div class="video-card">
      <h3>Two Faced - Linkin Park</h3>
      <a href="https://www.youtube.com/watch?v=kivUsDGWojU" target="_blank">
        <img src="https://i.imgur.com/dQR4ClH.png" width="300" />
      </a>
    </div>

    <div class="video-card">
      <h3>God of War Ragnarok</h3>
      <a href="https://www.youtube.com/watch?v=gqciogn3sUc" target="_blank">
        <img src="https://i.imgur.com/HTEDqHD.png" width="300" />
      </a>
    </div>
  </div>
</div>
