.login-container {
  text-align: center;
  padding: 25px;
}

button {
  padding: 20px 30px;
  background-color: #000000;
  color: rgb(247, 247, 247);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}
